header {
    width: 100%;
    height: 3em;
    background-color: rgba(45, 51, 59, 1);
    color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Roboto';
    font-size: 24px;
}