.input{
    border: 1px solid white;
    border-radius: 20px;

    height: 62px;
    width: 80%;

    margin: 1.5rem;
}

input{
    background: transparent; 
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}