.itemRepo{
    width: 80%;
}

h3{
    font-size: 32px;
    color: white;
}

p{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.remove{
    color: red;
}

hr{
    margin-top: 20px;
}